{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}Delete Product | Utopia3d{% endblock %}

{% block content %}

{% if user.is_authenticated and user.profile.is_seller %}
<div class="add-product-outer box-shadow">
    <div>
        <h2 class="add-product-title">Delete Product</h2>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div>
            <p>{{error}}</p>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
        <div class="gallery-single flex">
            <a class="product-link delete" href="{% url 'product_detail' product.category.slug product.id %}">
                <div class="product-div">
                    <img class="product" src="{{product.image.url}}" alt="pic1">
                </div>
            </a>
            <div class="delete-info">
                <p>Do you want to delete product <a class="coral" href="{% url 'product_detail' product.category.slug product.id %}">{{product.name}}</a>?</p>
                <div class="flex">
                    <p style="width: 40%; color: #bbb">Description</p>
                    <p style="color: #aaa;">{{product.description}}</p>
                </div>
                <div class="flex">
                    <p style="width: 40%; color: #bbb">Price</p>
                    <p style="color: #aaa;">{{product.price}}</p>
                </div>
                <div class="flex">
                    <p style="width: 40%; color: #bbb">Category</p>
                    <p style="color: #aaa;">{{product.category}}</p>
                </div>
            </div>
        </div>
        <div class="add-product-form">
            <form method="POST">
                {% csrf_token %}
                <div class="comment-submit-div">
                    <input type="hidden" name="category_slug" value="{{product.category.slug}}">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <div style="margin-left:40%;"><button class="comment-submit" type="submit">Delete Product</button></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}