{% extends 'partials/_base.html' %}
{% load static %}
{% block title %}{{profile.username}}'s Products | Utopia3d{% endblock %}
{% block content %}

<div class="mt5p"></div>
<div class="favorite-outer box-shadow">
    <div class="mb3p"><h2>Products of {{profile.username}}</h2></div>
    <div class="favorite-div mt3p">
        {% for product in products %}

        <div class="fav-img-info box-shadow">
            <div>
                <a class="product-link" href="{% url 'product_detail' product.category.slug product.id %}">
                    <div class="product-div">
                        <img class="product" src="{{product.image.url}}" alt="pic1">
                    </div>
                </a>
            </div>
            <div class="fav-info">
                <div style="margin-left: 2%;">
                    <h2><a href="{% url 'product_detail' product.category.slug product.id %}" title="" class="gray">{{product.name|truncatechars:13}}</a></h2>

                </div>
                <h2 class="all-products-price"><a href="{% url 'product_detail' product.category.slug product.id %}" title="">{{product.price}}₺</a></h2>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}